
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p> Filmdatabas skapades 2023 av tre studenter och skapades för att du som inloggad användare skall kunna lägga in dina filmer och skådespelare samt spara dessa och kunna lägga in ett pris på varje film. Utöver detta kan man editera inlagda filmer och skådespelare eller radera de. Vi brinner för att skapa livsberikande upplevelser och vi lever med film i allt vi gör. Vi arrangerar naturnära aktiviteter och kulinariska matupplevelser i egen regi och i samarbete med noggrant utvalda underleverantörer som komplement till iskonsten.  </p>

