
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<h1>About</h1>
<p> Filmdatabas skapades 2023 av tre studenter och skapades för att du som inloggad användare skall kunna lägga in dina filmer och skådespelare samt spara dessa och kunna lägga in ett pris på varje film. Utöver detta kan man editera inlagda filmer och skådespelare eller radera de. Vi brinner för att skapa livsberikande upplevelser och vi lever med film i allt vi gör. Vi arrangerar naturnära aktiviteter och kulinariska matupplevelser i egen regi och i samarbete med noggrant utvalda underleverantörer som komplement till iskonsten.  </p>
<div class="swiper reviews-slider">

    <div class="swiper-wrapper">

        <div class="swiper-slide slide">
            <p>
               Tobias Andersson har jobbat med backend och han är gruppleadare. 
            </p>
            <div class="user">
                <img src="@Url.Content("~/Images/MicrosoftTeams-image (7).png")" alt="">
                <div class="user-info">
                    <h3>Tobias Andersson</h3>
                </div>
            </div>
        </div>
        <div class="swiper-slide slide">
            <p>
                Hon har jobbat med Home page och design.
            </p>
            <div class="user">
                <img src="@Url.Content("~/Images/MicrosoftTeams-image (8).png")"
                     alt="">
                <div class="user-info">
                    <h3>Madeleine Svedberg</h3>
                </div>
            </div>
        </div>
        <div class="swiper-slide slide">
            <p>
                Hon har jobbat med about page och design.
            </p>
            <div class="user">
                <img src="@Url.Content("~/Images/photo_2022-08-26_23-04-16.jpg")"
                     alt="">
                <div class="user-info">
                    <h3>Sarvenaz Sinaei</h3>
                </div>
            </div>
        </div>
</div>
<script>
    
</script>

    


