@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fw-bold">Välkommen till StarStash</h1>
    <p>Varmt välkommen till vår filmdatabas där du som användare enkelt kan lägga in dina favoritfilmer och favoritskådespelare.</p>
    <img class="col-sm-4" src="https://static.vecteezy.com/ti/gratis-vektor/p3/542242-gammal-filmkamera-vektor-illustration-vector.jpg" alt="En filmrulle">
</div>

<div>
    <img src="https://variety.com/wp-content/uploads/2022/12/100-Greatest-Movies-Variety.jpg?w=1360&h=765&crop=1" alt="Sample foto" />
</div>
