@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Denna integritetspolicy förklarar hur vi samlar in, använder och skyddar din personliga information på vår filmdatabaswebbplats. Vi värnar om din integritet och tar skyddet av dina personuppgifter på största allvar. Vi rekommenderar att du läser igenom denna integritetspolicy noggrant för att förstå hur vi behandlar din information.</p>
